body{
    margin: 0;
    font-family: 'Major Mono Display', monospace;
}
div{
    /*border: 3px solid black;*/
}
.container{
    overflow: hidden;
    width: 90%;
    height: 40vh;
    margin-top: 3vh;
    margin-left: 5%;
}

.infoContainer{
    /*overflow: hidden;*/
    width: 90%;
    height: 50vh;
    margin-top: 0;
    margin-left: 5%;
}

.introPart{
    display: none;
    width: 40%;
    float:left;
}

.songsPart{
    display: none;
    width: 55%;
    float: right;
}

.songsPart ol li{
    font-size: 20px;
    line-height: 25px;
}

.item{
    display: inline-block;
    float: left;
    width: 22%;
    transition: width 1s;
    margin-right: 30px;
}
